<section class="pt-lg pb-lg" *ngFor="let service of services">
  <div class="container text-center">
    <h2 class="mb-md d-inline-block" [ngStyle]="{ color: fontColor }">
      {{currentLang == 'en' ? service.title : service.title_ar}}
    </h2>
    <p class="text-center mb-lg" [ngStyle]="{ color: fontColor }">{{currentLang == 'en' ? service.description : service.description_ar}}</p>
    <div class="row">
      <div class="col-6 mb-sm" *ngFor="let video of service?.videos">
        <a [href]="video?.link" target="_blank" style="text-decoration: underline;">
          <div class="position-relative">
            <!-- <img src="assets/images/play.png" class="card-img-button" alt="play button"> -->
            <div class="play-button-overlay">
              <i class="fab fa-youtube"></i>
            </div>
            <div class="blur">
              <app-image [src]="video?.img_path | urlPrefix"  ratio="is-11-8"></app-image>
            </div>
          </div>
          <div class="card-body d-flex justify-content-center align-items-center p-xs">
            <h5 class="card-title text-center" [ngStyle]="{ color: fontColor }">{{currentLang == 'en' ? video?.title : video?.title_ar}}</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
