<header class="theHeader bg-dark text-white">
  <div class="theHeader-container ">
    <ul class="theHeader-nav w-100 m-0 justify-content-between" style="border: 2px solid #5eacc0;">
      <li *ngFor="let icon of navbarIcons" class="border-right">
        <a [href]="icon?.link" target="_blank" class="theHeader__icons">
          <img
            [src]="'https://back-landing.genral.net/' + icon?.img_path"
            alt="Icon"
            width="40"
            height="40"
            style="object-fit: cover;"
          >
          <span class="text-center">{{icon?.title}}</span>
        </a>
      </li>
    </ul>
  </div>
</header>

