<header class="theHeader" [ngStyle]="{ 'background-color': navbarColor }">
  <div class="theHeader-container ">
    <ul class="theHeader-nav w-100 m-0 justify-content-between" style="border: 2px solid #5eacc0;">
      <li class="border-right">
        <a routerLink="/" target="_blank" class="theHeader__icons">
          <img
            [src]="footerLogoPath | urlPrefix"
            alt="Icon"
            width="40"
            height="40"
            style="object-fit: cover;"
          >
          <span class="text-center" [ngStyle]="{ color: fontColor }">
            {{currentLang == 'en' ? footerTitle : footerTitleAr}}
          </span>
        </a>
      </li>
      <li *ngFor="let icon of navbarIcons" class="border-right">
        <a [href]="icon?.link" target="_blank" class="theHeader__icons">
          <img
            [src]="icon?.img_path | urlPrefix"
            alt="Icon"
            width="40"
            height="40"
            style="object-fit: cover;"
          >
          <span class="text-center" [ngStyle]="{ color: fontColor }">
            {{currentLang == 'en' ? icon?.title : icon?.title_ar}}
          </span>
        </a>
      </li>
      <li class="border-right">
        <a href="javascript:void(0)" class="theHeader__icons" title="English" (click)="changeLangage('ar')" *ngIf="currentLang == 'en'">
          <img
            src="assets/images/lang.svg"
            alt="Icon"
            width="40"
            height="40"
            style="object-fit: cover;"
          >
          <span [ngStyle]="{ color: fontColor }">Ar</span>
        </a>
        <a href="javascript:void(0)" class="theHeader__icons" title="العربية" (click)="changeLangage('en')" *ngIf="currentLang == 'ar'">
          <img
            src="assets/images/lang.svg"
            alt="Icon"
            width="40"
            height="40"
            style="object-fit: cover;"
          >
          <span [ngStyle]="{ color: fontColor }">En</span>
        </a>
      </li>
    </ul>
  </div>
</header>

