<header class="theHeader" [ngStyle]="{ 'background-color': navbarColor }">
  <div class="theHeader-container">
    <ul class="theHeader-nav w-100 m-0 justify-content-between" style="border: 2px solid #5eacc0;">
      <li class="border-right">
        <a routerLink="/" target="_blank" class="theHeader__icons">
          <img
            [src]="logoPath | urlPrefix"
            alt="Logo"
          >
          <span class="text-center" [ngStyle]="{ color: fontColor }" style="white-space: nowrap;">
            {{currentLang == 'en' ? title : titleAr}}
          </span>
        </a>
      </li>
      <li *ngFor="let icon of navbarIcons" class="border-right">
        <a [href]="icon?.link" target="_blank" class="theHeader__icons">
          <img
            [src]="icon?.img_path | urlPrefix"
            alt="Icon"
          >
          <span class="text-center" [ngStyle]="{ color: fontColor }">
            {{currentLang == 'en' ? icon?.title : icon?.title_ar}}
          </span>
        </a>
      </li>
      <li class="border-right">
        <a href="javascript:void(0)" class="theHeader__icons" title="English" (click)="changeLangage('ar')" *ngIf="currentLang == 'en'">
          <svg-icon src="assets/icons/lang.svg" class="fs-lg"></svg-icon>
          <span [ngStyle]="{ color: fontColor }">Ar</span>
        </a>
        <a href="javascript:void(0)" class="theHeader__icons" title="العربية" (click)="changeLangage('en')" *ngIf="currentLang == 'ar'">
          <svg-icon src="assets/icons/lang.svg" class="fs-lg"></svg-icon>
          <span [ngStyle]="{ color: fontColor }">En</span>
        </a>
      </li>
    </ul>
  </div>
</header>

