
<section class="pt-lg pb-lg">

  <div class="container pt-lg pb-lg">

    <div class="row">
      <div class="col-6 d-flex flex-column justify-content-center align-items-center border-right">
        <h2>{{leftSectionTitle}}</h2>
        <p class=" text-center text-white">{{leftSectionDescription}}</p>
      </div>
      <div class="col-6 d-flex flex-column justify-content-center align-items-center">
        <h2>{{rightSectionTitle}}</h2>
        <p class="text-center text-white">{{rightSectionDescripiton}}</p>
      </div>
    </div>
  </div>
</section>
