<section class="pt-lg pb-lg position-relative">
    <div class="container d-flex flex-column justify-content-center align-items-center">
      <swiper
        [spaceBetween]="10"
        [slidesPerView]="1"
        [navigation]="true"
      >
        <ng-template swiperSlide *ngFor="let element of sliderElements; let i = index">
          <a href="javascript:void(0)" *ngIf="element.type === 'img'">
            <app-image [src]="element.path | urlPrefix" ratio="is-3-1"></app-image>
          </a>
          <iframe
            *ngIf="element.type === 'youtube_video'"
            [src]="element.path | safe"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowFullScreen
          ></iframe>
        </ng-template>
      </swiper>
    </div>

    <div class="shape">
      <img src="assets/images/bottom-right.png" class="shape-bottom-right" alt="img image png">
    </div>
    <div class="shape">
      <img src="assets/images/bottom-left.png" class="shape-bottom-left" alt="img image png">
    </div>
    <div class="shape">
      <img src="assets/images/top-left.png" class="shape-top-left" alt="img image png">
    </div>
    <div class="shape">
      <img src="assets/images/top-right.png" class="shape-top-right" alt="img image png">
    </div>
</section>
