<section class="pt-lg pb-lg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-md">
        <h2 class="text-center fs-lg">
          {{currentLang == 'en' ? firstSectionTitle : firstSectionTitleAr}}
        </h2>
        <p class="text-center mt-sm">
          {{currentLang == 'en' ? firstSectionDescription : firstSectionDescriptionAr}}
        </p>
      </div>
      <div class="col-6 mb-md" *ngFor="let img of images">
        <app-image [src]="img?.img_path | urlPrefix" ratio="rounded is-7-4"></app-image>
        <p class="text-center mt-sm mb-0">
          {{currentLang == 'en' ? img?.title : img?.title_ar}}
        </p>
      </div>
    </div>
  </div>
</section>
