<section class="pt-xl pb-lg">
  <div class="container d-flex flex-column justify-content-center align-items-center">



    <h2 class="mb-md">Building Services</h2>

    <p class="text-center">              One of the most important and best public services companies
      Which is concerned with providing the best distinguished services
                   to our customers in Dubai - United Arab Emirates
      <div class="row">

        <div class="col-6 mb-sm">
          <img class="card-img-top" src="./assets/images/Content.png" class="w-100 text-center" alt="Card image cap">
          <div class="card-body d-flex justify-content-center align-items-center p-sm">
            <h5 class="card-title text-center">Sofa Cleaning</h5>
          </div>
        </div>

        <div class="col-6 mb-sm">
          <img class="card-img-top" src="./assets/images/Content.png" class="w-100 text-center" alt="Card image cap">
          <div class="card-body d-flex justify-content-center align-items-center p-sm">
            <h5 class="card-title text-center">Sofa Cleaning</h5>
          </div>
        </div>

        <div class="col-6 mb-sm">
          <img class="card-img-top" src="./assets/images/Content.png" class="w-100 text-center" alt="Card image cap">
          <div class="card-body d-flex justify-content-center align-items-center p-sm">
            <h5 class="card-title text-center">Sofa Cleaning</h5>
          </div>
        </div>

        <div class="col-6 mb-sm">
          <img class="card-img-top" src="./assets/images/Content.png" class="w-100 text-center" alt="Card image cap">
          <div class="card-body d-flex justify-content-center align-items-center p-sm">
            <h5 class="card-title text-center">Sofa Cleaning</h5>
          </div>
        </div>

        <div class="col-6">
          <img class="card-img-top" src="./assets/images/Content.png" class="w-100 text-center" alt="Card image cap">
          <div class="card-body d-flex justify-content-center align-items-center p-sm">
            <h5 class="card-title text-center">Sofa Cleaning</h5>
          </div>
        </div>

        <div class="col-6">
          <img class="card-img-top" src="./assets/images/Content.png" class="w-100 text-center" alt="Card image cap">
          <div class="card-body d-flex justify-content-center align-items-center p-sm">
            <h5 class="card-title text-center">Sofa Cleaning</h5>
          </div>
        </div>






      </div>
  </div>
</section>
