<section class="pt-lg pb-lg d-flex flex-column justify-content-center align-items-center position-relative">

  <div class="w-50 d-flex justify-content-around align-items-center mt-sm position-relative" style="z-index: 1;">
    <ng-container *ngFor="let icon of footerIcons">
      <a [href]="icon?.link" target="_blank">
        <img
          [src]="icon?.img_path | urlPrefix"
          alt="Icon"
          class="icon"
          style="object-fit: cover;"
        >
      </a>
    </ng-container>
  </div>

  <div class="shape">
    <img src="assets/images/bg-bottom-right.png" class="shape-bottom-right" alt="img image png">
  </div>

  <div class="shape">
    <img src="assets/images/bg-bottom-left.png" class="shape-bottom-left" alt="img image png">
  </div>

</section>
