@import "src/assets/style/global";

section
{
  background-image: url("../../../assets/images/Rectangle23.png");
  background-position: center center;
  border-radius: 20px;
  background-repeat: no-repeat;
}



h1 { text-shadow: 3px 3px 20px #03b7ef, -2px 1px 30px #03b7ef; }


.shape {
  &-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 200px;
    height: auto;
    @include media-breakpoint-down(md) {
      max-width: 100px;
    }
  }
}

.shape {
  &-bottom-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 200px;
    height: auto;
    @include media-breakpoint-down(md) {
      max-width: 100px;
    }
  }
}
