@import "src/assets/style/global";

.card-body {
  background-image: url("../../assets/images/Rectangle.png");
  background-position: center center;
}

h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 20px;
  background-color: #03b7ef;
}

h2 , h5 {
  text-shadow: 3px 3px 20px #03b7ef, -2px 1px 30px #03b7ef;
}


.card-img-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
  z-index: 2;
}

.card-img-top {
  max-width: 100%;
  max-height: 385px;
  object-fit: cover;
  @include media-breakpoint-down(xxl) {
    max-height: 330px;
  }
  @include media-breakpoint-down(xl) {
    max-height: 270px;
  }
  @include media-breakpoint-down(lg) {
    max-height: 200px;
  }
  @include media-breakpoint-down(md) {
    max-height: 150px;
  }
  @include media-breakpoint-down(sm) {
    max-height: 100px;
  }

}

.blur {
  transition: filter 0.3s ease-in-out;
  &:hover {
    filter: blur(5px);
  }
}

.card-img-button:hover + .blur {
  transition: filter 0.3s ease-in-out;
  filter: blur(5px);
}
